@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates');

$main-font: 'Montserrat';
$main-green: #1ED760;
$main-black: #000000;
$main-white: #FFFFFF;
$main-grey: #828282;
$main-red: #d9534f;

html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: $main-font;
}

body {
  background: $main-black;
}

button {
  background: $main-green;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  color: $main-white;
  display: inline-block;
  padding: 10px 50px;
  border-radius: 20px;

  &:focus {
    outline: none;
  }
}

.playlist {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex: 1 0 30%;
  margin: 20px; 

  iframe {
    transition: 200ms all ease;
    
   
    border: none;
    width: 100%;
    
  }

  button {
    margin: 25px 0;
    order: 1;

    &:active + iframe {
      transform: translateY(-2%);
      box-shadow: 0 29px 25px -32px lighten($main-grey, 1%);
    }
  }
}

.music-container {
  padding-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 25px;
  background: #4745D1;

  input {
    margin: 0;
  }
}

.add {
  background: $main-green;
}

.remove {
  background: $main-red;
}