@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates");
html, body {
  padding: 0;
  margin: 0; }

* {
  font-family: "Montserrat"; }

body {
  background: #000000; }

button {
  background: #1ED760;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  color: #FFFFFF;
  display: inline-block;
  padding: 10px 50px;
  border-radius: 20px; }

button:focus {
  outline: none; }

.playlist {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex: 1 0 30%;
  margin: 20px; }

.playlist iframe {
  transition: 200ms all ease;
  border: none;
  width: 100%; }

.playlist button {
  margin: 25px 0;
  order: 1; }

.playlist button:active + iframe {
  transform: translateY(-2%);
  box-shadow: 0 29px 25px -32px #858585; }

.music-container {
  padding-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 25px;
  background: #4745D1; }

nav input {
  margin: 0; }

.add {
  background: #1ED760; }

.remove {
  background: #d9534f; }
